// .Calendar-Wrap{
//   display: flex;
//   width: 540px;
//   align-items: center;
//   margin: 0px auto;
//   padding-top: 45px;
//   button {
//     height: 50px;
//     width: 100px;
//     min-width: 100px;
//     background-color: rgb(50, 127, 222);
//     border: 1px solid black;
//     font-size: 20px;
//     cursor: pointer;
//     outline: none;
//     margin-right: 10px;
//     margin-left: 10px;
//     box-sizing: border-box;
//     &:hover {
//       background-color: darken(rgb(50, 127, 222), 20%);
//       color: white;
//     }
//   }
//   .Calendar {
//     display: flex;
//     flex-wrap: wrap;
//     width: 300px;
//     box-sizing: border-box;
//     h3 {
//       margin: 0px;
//       font-size: 26px;
//       color: rgb(50, 127, 222);
//     }
//     .week {
//       display: flex;
//       flex-wrap: wrap;
//       width: 280px;
  
//       .day {
//         width: 40px;
//         height: 40px;
//         box-sizing: border-box;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border: 1px solid black;
//         cursor: pointer;
//         &:hover {
//           background-color: rgb(50, 127, 222);
//           color: white;       
//         }
//       }
//     }
//   }
// }


.Calendar {
  margin: 0px auto;
  width: 60%;
  text-align: center;
  h2 {
    font-family: "stencil-std", serif;
  }

  h3 {
    font-family: "stencil-std", serif;
    color: rgb(50, 127, 222);
  }
  .Calendar-squares {
    margin: 0px auto;
    width: 410px;
    height: 170px;
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-wrap: wrap;
    .day {
      width: 80px;
      height: 80px;
      border: 1px solid black;
      box-sizing: border-box;
      display: flex;
      cursor: pointer;
      flex-wrap: wrap;
      transition: 1s;
      background-color: rgba(255, 255, 255, 0.79);
      &:hover {
        transform: rotate(-15deg);
        width: 90px;
        height: 90px;
        z-index: 1;
        .month {
          font-size: 13px;
        }
        .dayNum {
          font-size: 50px;
        }
      }
      span {
        width: 100%;
        font-family: "stencil-std", serif;

      }
      .month {
        font-size: 11px;
        width: 100%;
      }
      .today {
        font-size: 8px;
        width: 80px;
        margin-top: 12px;
        position: absolute;
        color: rgb(50, 127, 222);        
      }
      .dayNum {
        transition: 1s;
        font-size: 35px;
        color: rgb(50, 127, 222);
      }
      .dayOfWeek {
        font-size: 11px;
      }
    }
    .day.selected{
      background-color: rgb(50, 127, 222);
      .dayNum {
        color: white;
      }
    }
  }
}

