.Calendar {
  margin: 0px auto;
  width: 60%;
  text-align: center; }
  .Calendar h2 {
    font-family: "stencil-std", serif; }
  .Calendar h3 {
    font-family: "stencil-std", serif;
    color: #327fde; }
  .Calendar .Calendar-squares {
    margin: 0px auto;
    width: 410px;
    height: 170px;
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-wrap: wrap; }
    .Calendar .Calendar-squares .day {
      width: 80px;
      height: 80px;
      border: 1px solid black;
      box-sizing: border-box;
      display: flex;
      cursor: pointer;
      flex-wrap: wrap;
      transition: 1s;
      background-color: rgba(255, 255, 255, 0.79); }
      .Calendar .Calendar-squares .day:hover {
        transform: rotate(-15deg);
        width: 90px;
        height: 90px;
        z-index: 1; }
        .Calendar .Calendar-squares .day:hover .month {
          font-size: 13px; }
        .Calendar .Calendar-squares .day:hover .dayNum {
          font-size: 50px; }
      .Calendar .Calendar-squares .day span {
        width: 100%;
        font-family: "stencil-std", serif; }
      .Calendar .Calendar-squares .day .month {
        font-size: 11px;
        width: 100%; }
      .Calendar .Calendar-squares .day .today {
        font-size: 8px;
        width: 80px;
        margin-top: 12px;
        position: absolute;
        color: #327fde; }
      .Calendar .Calendar-squares .day .dayNum {
        transition: 1s;
        font-size: 35px;
        color: #327fde; }
      .Calendar .Calendar-squares .day .dayOfWeek {
        font-size: 11px; }
    .Calendar .Calendar-squares .day.selected {
      background-color: #327fde; }
      .Calendar .Calendar-squares .day.selected .dayNum {
        color: white; }
